<!DOCTYPE html>
<html>
  <head>
    <title>Prueba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul class="nav">
      <li class="active"><a href="/regiones">Regiones</a></li>
      <li class="active"><a href="/municipios">Municipios</a></li>
	  </ul>
    <%= yield %>
  </body>
</html>
